{
  "presets": [
    ["@babel/preset-env", { "corejs": "3.1.3", "useBuiltIns": "usage" }]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@api": "./src/api/",
          "@api_v1": "./src/api/v1",
          "@v1Controller": "./src/api/v1/modules",
          "@module": "./src/api/v1/modules",
          "@http": "./src/shared/service/http",
          "@middleware": "./src/api/v1/middleware",
          "@utils": "./src/utils",
          "@response": "./src/utils/response",
          "@logger": "./src/utils/logger",
          "@settings": "./src/settings.json",
          "@root": "./src",
          "@shared": "./src/shared",
          "@models": "./src/database/models",
          "@database": "./src/database",
          "@dbconfig": "./src/database/config/env"
        }
      }
    ]
  ]
}
